audio {
  margin: 8px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 100px;
  margin: 8px;
}

input {
  margin: 8px;
}

.dtmf {
  margin: 8px;
}

div.select {
  display: inline-block;
  margin: 0 0 1em 0;
}

p.small {
  font-size: 0.7em;
}

label {
  width: 12em;
  display: inline-block;
}
